<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>sender.org</title>
	<link href="indexStyle.css" rel="stylesheet">
	<script src="axios/axios.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	<div class="header">
		<h1>rooms list</h1>
	</div>
	<div class="container-index">
      <ol class="rooms-list">
			<% let keyList = Object.keys(room)%>
			<% for( key of keyList){ %>
				<form action="/prejoin">
					<li class="room-name"  roomid = '<%= key %>'><%= room[key].roomname %></li>
					<input type="text" name="roomid" value="<%= key %>" style="display: none">
					<p> topics : <%= room[key].topics %> </p>
					<button>join <%= room[key].roomname %></button>
				</form>
			<%}%>
      </ol>
      <form action="/create" class="form-index">
         <button class="btn-index">Create</button>
      </form>
	</div>
		<script src="mainScript.js"></script>
</body></html>
